<!DOCTYPE html>
<html>
<body>
<p>Dear Sir/Madam,</p>
<p>
    Please find Proposal Deposit Receipt for Application No.: <strong>{{applicationNo}}</strong>
    as an attachment with this mail.
</p>
<p>In case of any query, please call our Customer Care number <strong>022-39546300</strong></p>
<br/>
<p>
    Regards,<br/>
    Customer Care<br/>
    Star Union Dai-ichi Life Insurance.
</p>
<p style="font-size: small;">*This is a system generated mail. Please do not reply to this email.</p>
</body>
</html>
